<h1 style="color: #00bb00">From: {{ from }}</h1>
<h1 style="color: #00bb00">To: {{ to }}</h1>
<h1 style="color: #00bb00">Name: {{ name }} Surname: {{ surName }}</h1>
<h1 style="color: #00bb00">Departure: {{ departure }}</h1>
<h1 style="color: #00bb00">Arrival: {{ arrival }}</h1>
<h1 style="color: #00bb00">Place: {{ place }}</h1>
<h1 style="color: #00bb00">Aircraft: {{ aircraftModel }} {{ aircraftNumber }}</h1>
<h1 style="color: #00bb00">Company: {{ companyName }}</h1>